!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title eComCom
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='The eCommerce Comparator')
    meta(name='author', content='Sean Moore')
    
    //styles 
    link(href='/static/css/bootstrap.css', rel='stylesheet')
    style(type='text/css')
      body {
      background-image: url('/static/img/cross_scratches.png');
      padding-top: 60px;
      padding-bottom: 40px;
      }
      #names {
      
      }
      #names li{ 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #888;
      }
      #sellers li{ 
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      }
    link(href='/static/css/bootstrap-responsive.css', rel='stylesheet')
    // HTML5 shim, for IE6-8 support of HTML5 elements 
    // if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    //
       Le fav and touch icons 
    link(rel='shortcut icon', href='/static/ico/favicon.ico')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/static/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/static/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/static/ico/apple-touch-icon-57-precomposed.png')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') eComCom
          .nav-collapse
            ul.nav
              li.active
                a#lookup(href='#') Product Lookup
              li
                a#about(href='#about') About
              li
                a#contact(href='#contact') Contact
          //
            /.nav-collapse 
    .container
      header.jumbotron.subhead
        h1 Product Lookup
          p.lead Lookup a product via ID number
      div.row
        span.span8.offset2(style='margin-bottom:20px;')
          h2 Product ID
          form.form-search
            input#id.input-large.search-query(name='id', type='text', placeholder='Type a UPC, hit enter')
            button#submitUPC.hidden(type='submit')
            //- select#idType.span1(name='idType')
            //-   option(value='UPC') UPC
            //-   option(value='ASIN') ASIN
            //-   option(value='SKU') SKU
            //-   option(value='EAN') EAN
            //-   option(value='GUESS') Guess For Me 
            p#infoBox 
        span.span8.offset2.well
          fieldset
            legend(style='color:#888') Product Information
            div.row
              h2#productTitle.span6 
              h2#productType.span2(style='color:#888;text-align:right;') 
            div#productMeta.row(style='margin-top:0px;color:#888') 
              span#productMetaInfo.span6 
              span#productMetaId.span2(style='text-align:right;') 
            div#ecomMeta.row(style='margin-top:30px;')
              span#ecomMetaSellers.span2
                h3.hidden Retailers:
                ul#sellers.unstyled(style='margin-left:10px;')
              span#ecomMetaPrices.span1
                h3.hidden Prices:
                ul#prices.unstyled(style='margin-left:10px;text-align:right')
              span#ecomMetaNames.span5
                h3.hidden Product Names:
                ul#names.unstyled('margin-left:10px;')
          span.offset6
            a#viewJson.hidden(href='#', data-show="json") View Original Response
          hr
          p.offset2.row(style='margin-top:20px;')
            span#barcode.span2
      hr
      footer
        p(style='white-space:pre;') 
          |© eComCom 2012, Sean Moore
          |Made with Node.js, Express, Redis, and Twitter Bootstrap

      div#json.modal.hide(style='display: none;')
        div.modal-header 
          a.jsonClose.close(data-dismiss="json") ×
          h3 Original JSON Response
        div.modal-body
          p#jsonBody Body
        div.modal-footer
          a.jsonClose.btn(href='#', data-dismiss="json") Close

    //
       /container 
    //
    //   Le javascript
    //   Placed at the end of the document so the pages load faster 
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='/static/js/bootstrap.js')
    script(src='/static/js/bootstrap-modal.js')
    script(src='/static/js/ecomcom.js')
    script(src='/static/js/jquery-barcode.js')
